---
layout: default
---

<hr> </hr>
<br>
<main id="main" class="main-content" aria-label="Content">
  <div class="entry-meta">
    {% include entry-date.html %}
  </div>
 
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <footer class="entry-meta">
        {% include entry-date.html %}
      </footer>
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </header>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

      </div>
    </div>
  </article>
</main>
